#app{
    font-family: 'Poppins', sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-success, .badge-success{
    background-color: #6BE485;
    border-color: #6BE485;
}

.card{
    border-radius: 15px;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}